<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
  
  </system.web>
  <appSettings >
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    <add key="SMTP" value="filtered.usain.com" />
    <add key ="From" value ="shashank.bargaje@gmail.com"/>
     <add key="GraphBaseUrl" value="https://graph.facebook.com" />
    <add key="AccessToken" value="ACCESS_TOKEN"/>
    <!--<add key="ConnectionString" value ="Data Source=SB;Initial Catalog=CALC;Integrated Security=True"/>-->
  </appSettings>
  <connectionStrings >
   <!-- <add name ="ConnectionString" connectionString ="Data Source=SB;Initial Catalog=CALC;Integrated Security=True"/> -->
    <add name="ConnectionString" providerName="System.Data.SqlClient" connectionString="Data Source=localhost\SQLSERVER;Server=chitra-pc;Database=Restaurants;Trusted_Connection=Yes;"/>
  <add name="TestDBConnection" providerName="System.Data.SqlClient" connectionString="Data Source=localhost\SQLSERVER;Server=chitra-pc;Database=test;Trusted_Connection=Yes;"/>
  </connectionStrings>
  <system.net>
    <mailSettings>
      <smtp>
        <network host ="filtered.usain.com" userName="rahul.joglekar@usain.com" password="12345678" port="25"/>
        <!--<network host="smtp.gmail.com" userName="shashank.bargaje@gmail.com" password="iamthebest" port="25"/>-->
        <!--<add key="SMTP" value="filtered.usain.com" />-->
      </smtp>
    </mailSettings>
  </system.net>
</configuration>
